<%= render Polaris::LabelledComponent.new(**@wrapper_arguments) do %>
  <%= render Polaris::BaseComponent.new(**@system_arguments) do %>
    <% if @form.present? && @attribute.present? %>
      <%= @form.select(
        @attribute,
        build_options_for_select,
        @select_options,
        @input_options,
      ) %>
    <% else %>
      <%= select_tag(
        @name,
        build_options_for_select,
        @input_options,
      ) %>
    <% end %>

    <div
      class="Polaris-Select__Content"
      aria-hidden="true"
      <% if @disabled %>aria-disabled="true"<% end %>
    >
      <% if @label_inline %>
        <%= polaris_box(padding_inline_end: "1") do %>
          <%= polaris_text(as: :span, color: :subdued, truncate: true) do %>
            <%= @label %>
          <% end %>
        <% end %>
      <% end %>
      <span
        class="Polaris-Select__SelectedOption"
        data-polaris-select-target="selectedOption"
      >
        <%= selected_option %>
      </span>
      <span class="Polaris-Select__Icon">
        <%= polaris_icon do %>
          <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
            <path d="M10.884 4.323a1.25 1.25 0 0 0-1.768 0l-2.646 2.647a.75.75 0 0 0 1.06 1.06l2.47-2.47 2.47 2.47a.75.75 0 1 0 1.06-1.06l-2.646-2.647Z"/><path d="m13.53 13.03-2.646 2.647a1.25 1.25 0 0 1-1.768 0l-2.646-2.647a.75.75 0 0 1 1.06-1.06l2.47 2.47 2.47-2.47a.75.75 0 0 1 1.06 1.06Z"/>
          </svg>
        <% end %>
      </span>
    </div>

    <div class="Polaris-Select__Backdrop"></div>
  <% end %>
<% end %>
